# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_BUCKET_NAME=your-project-id-stock-data-lake
GCP_DATASET_ID=stock_market_data

# Credentials
# Download your service account key from GCP Console
# IAM & Admin > Service Accounts > Create Key > JSON
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json

# dbt Configuration
DBT_PROJECT=stock_market_dbt
DBT_DATASET=stock_market_data
DBT_LOCATION=US